.answerContainer {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.8rem;
  border: 0.1rem solid rgb(86, 165, 235, 0.25);
  background-color: white;
}

.answerContainer:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.answerLabel {
  padding: 1.5rem 2.5rem;
  background-color: #56a5eb;
  color: white;
}

.answerText {
  padding: 1.5rem;
  width: 100%;
}

.correctAnswer {
  background-color: #28a745;
}

.incorrectAnswer {
  background-color: #dc3545;
}

#question {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
#hud {
  display: flex;
  justify-content: space-between;
}

.hudLabel {
  text-align: center;
  font-size: 2rem;
}

.hudValue {
  text-align: center;
}

#progress {
  width: 20rem;
  height: 4rem;
  border: 0.3rem solid #56a5eb;
  margin-top: 1.5rem;
}

#progressFull {
  height: 3.4rem;
  background-color: #56a5eb;
  width: 0%;
}
